.container {
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
}

body {
  background-color: #f0f0f0;
}

header {
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/282/929/non_2x/red-and-gold-rectangle-long-banner-design-free-vector.jpg');
  background-size: cover;
  color: white;
  padding: 50px;
  text-align: center;
}